.profile {
    &__title {
        margin-top: 30px;
        font-size: 19px;
        margin-bottom: 40px;

        @media screen and (max-width:799px) {
            margin-left: 50px;
        }
    }
}

.edit {
    background-color: #fff;
    margin-bottom: 85px !important;
    box-shadow: 2px 2px 2px 2px grey;
    order: 1;
    padding: 20px;

    @media screen and (max-width:997px) {
        order: 2;
        margin-top: 50px;

    }
}

.information {
    padding: 20px;
    transform: translatey(-40px);
    left: 0;
    background-color: $primary-four-color;

    &__title {
        color: #fff;

    }

    &__subtitle {
        line-height: 1.2;
        color: #fff;
        margin-top: 10px;
    }
}

.form-label {
    margin-top: 20px;
}

.form-control {
    padding: 0;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #000;

    &:focus {
        box-shadow: none;
        border-bottom: 1px solid #000;
    }
}

.btn {
    width: 49%;
    border-radius: 0px;
    font-size: 13px;
    background-color: $primary-four-color;
    color: #fff !important;

    &:hover {
        background-color: $primary-four-color;

    }
}

.user {
    box-shadow: 2px 2px 2px 2px grey;
    padding: 20px;
    background-color: #fff;
    order: 2;

    @media screen and (max-width:997px) {
        order: 1;

    }

    &__logo {
        transform: translateY(-50px);
        display: flex;
        justify-content: center;
        border-radius: 50%;

        img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            box-shadow: 3px 3px 3px 3px;
        }
    }

    &__text {
        margin-top: -20px;
    }

    &__name {
        font-weight: 700;
        margin-top: 15px;
    }

    &__information {
        margin-top: 15px;
    }
}

label {
    font-size: 13.5px;
}