<sidebar class="sidebar " id="none">
  <div class="sidebar__title"><h2>Company</h2></div>
    <div class="sidebar__line"></div>    
      <div class="nav__tabs">
          <div id="tab-1" class="item d-flex align-items-center active" data-tabs="1">
              <svg>
                <use href="#test"></use>
            </svg> 
            <div class="item__text ">
                <p>
                    Dashboard
                </p>
            </div>
          </div>
          <div id="tab-2" class="item d-flex align-items-center " data-tabs="2">
            <div class="item__img">
                <img src="img/account_gray.svg" alt="">
            </div>
            <div class="item__text ">
                <p>
                    User Profile
                </p>
            </div>
          </div>
          <div id="tab-3" class="item d-flex align-items-center " data-tabs="3">
            <div class="item__img">
                <img src="img/map_gray.svg" alt="">
            </div>
            <div class="item__text ">
                <p>
                 Map
                </p>
            </div>
          </div>
          <div id="tab-4" class="item d-flex align-items-center " data-tabs="4">
            <div class="item__img">
                <img src="img/notify_gray.svg" alt="">
            </div>
            <div class="item__text ">
                <p>
                  Notifycations
                </p>
            </div>
          </div>
          <div id="tab-5" class="item d-flex align-items-center " data-tabs="5">
            <div class="item__img">
                <img src="img/support_gray.svg" alt="">
            </div>
            <div class="item__text ">
                <p>
                   Support
                </p>
            </div>
          </div>
        </div>
  </sidebar>
  <div class="menu-collapsed">
    <div class="bar"></div>
    <sidebar class="sidebar ">
      <div class="sidebar__title"><h2>Company</h2></div>
        <div class="sidebar__line"></div>    
          <div class="nav__tabs">
              <div id="tab-1" class="item d-flex align-items-center active" data-tabs="1">
                  <svg>
                    <use href="#dashboard"></use>
                </svg> 
                <div class="item__text ">
                    <p>
                        Dashboard
                    </p>
                </div>
              </div>
              <div id="tab-2" class="item d-flex align-items-center " data-tabs="2">
                <div class="item__img">
                    <img src="img/account_gray.svg" alt="">
                </div>
                <div class="item__text ">
                    <p>
                        User Profile
                    </p>
                </div>
              </div>
              <div id="tab-3" class="item d-flex align-items-center " data-tabs="3">
                <div class="item__img">
                    <img src="img/map_gray.svg" alt="">
                </div>
                <div class="item__text ">
                    <p>
                     Map
                    </p>
                </div>
              </div>
              <div id="tab-4" class="item d-flex align-items-center " data-tabs="4">
                <div class="item__img">
                    <img src="img/notify_gray.svg" alt="">
                </div>
                <div class="item__text ">
                    <p>
                      Notifycations
                    </p>
                </div>
              </div>
              <div id="tab-5" class="item d-flex align-items-center " data-tabs="5">
                <div class="item__img">
                    <img src="img/support_gray.svg" alt="">
                </div>
                <div class="item__text ">
                    <p>
                       Support
                    </p>
                </div>
              </div>
            </div>
          
      </sidebar>
    </div>
